.testContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.testContainerNavbar{
   width: 100vw;
   background-color: #000000;
   background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
   display: flex;
   justify-content: space-between;
   padding: 0 20px;
   color: white;
   height: 70px;
   align-items: center;
}

.testContainerNavbar img{
    height: 50px;
}

.testContainerNavbar i{
    font-size: 22px;
}

.testContainerInfo{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.testContainerNavbar a{
    color: white;
}

.Test{
    margin: 0 auto;
    width: 600px;
   
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.Test-options{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Test-options label{
    margin-top: 2px;
    margin-bottom: 5px;

}

.Test button{
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.Test form img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto ;
    width: 100%;
}

.testContainerConclusion{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
    box-shadow: 5px 5px 15px -1px #000000;
    height: 100px;
    background: white;
    font-size: 19px;
}

.testContainerConclusion div{
  display: flex;
}

.testContainerConclusion div button {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    margin: 10px;
}

.disabled{
   cursor: not-allowed !important;
}

@media (max-width: 600px) {
    .Test{
        width: 300px;
    }

    .Test form img{
      width: 100%;
      height: 100%;
    }
}