.curso-container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding-top: 80px;
}

.course{
    height: 30vh;
    background: linear-gradient(
     rgba(0, 0, 0, 0.7), 
     rgba(0, 0, 0, 0.7)
   ),
   url('../../assets/onlineClass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-top: 30px;
    position: relative
}

.value{ 
    height: 100%;
    flex:1;
    margin-left: 60px
    
}

/*.value button{
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
} */

.value button{
    margin-left: 5px;
    border: none;
    outline: none;
    color: white;
    background: orange;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.2s;
   }

   .value button:hover{
    background: purple
}

.value a{
    color: white;
}

.value span{
    color: red
}

/*.value a{
    color: white;
    background-color: red;
    padding: 8px;
} */

.course h1{
    color: #FFF;
    font-size: 55px;
}

.content{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 30px 8%;
   
}

.description{
    display: flex;
    flex-direction: column;
    flex: 2
}

.description span:nth-child(1){
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
}

.description span{
    font-size: 17px;
    margin-bottom: 5px;
    /*color: rgb(54, 54, 54) */
    color: rgb(83, 83, 83);
}



.imgContainer{
   width: 300px;
   height: 350px;
   border: 1px solid black;
   align-items:  center;
   display: flex;
   flex-direction: column;
}

.imgContainer img{
 
       height:200px;
       width: 298px;
}

.value h3{
    margin-bottom: 20px
}

.card span{
 color: black;
}
@media (max-width:1024px){


    .course h1{
        font-size: 40px;
    }

    .value{
        margin-top: 10px;
        margin-left: 0px;
        display: flex;
        justify-content:  center;
        align-items:  center;
    }

    
.content{
    justify-content: center; 
}

}